<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>All Chats</h2>
    <form action="/chat/new" method="get">
        <button type="submit">New Chat</button>
    </form>
    <% for( let chat of chats ) { %>
        <div class="chat">
            <p>From: <%= chat.from %>
            </p>
            <div class="msg">
                <%= chat.msg %>
            </div>
            <p>Recieved by: <%= chat.to %>
            </p>
            <hr>
            <div class="d_t" style="display: flex; justify-content: space-between;">
                <p>
                    <%= chat.createdAt.toString().split(" ")[4] %></p>
                <p><%= chat.createdAt.toString().split(" ").slice(0,4).join(" ") %></p>
            </div>
            <div class="controls" style="display: flex; gap: 10px;">
                        <form action="/chat/<%= chat.id %>/edit" method="get">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/chat/<%= chat.id %>?_method=DELETE" method="post">
                            <button type="submit">Delete</button>
                        </form>
            </div>
        </div>
        <% } %>
</body>

</html>