<% layout('./layouts/boilerplate') -%>

    <body>
        <div class="card mt-5">
            <img src="<%= listingData.image %>" class="card-img-top" alt="..." />
            <div class="card-body mb-3">
                <h5 class="card-title">
                    <%= listingData.title %>
                </h5>
                <p class="card-text">
                    <%= listingData.description %>
                </p>
                <p class="card-text">
                    <b>Price:</b>
                    <%= listingData.price %>
                </p>
                <p class="card-text">
                    <b>Location:</b>
                    <%= listingData.location %>
                </p>
                <p class="card-text">
                    <b>Country:</b>
                    <%= listingData.country %>
                </p>
            </div>
            <div class="controls ml-5">
                <form action="/listings/<%= listingData.id %>/edit" method="get">
                    <button type="submit" class="btn-edit btn-add btn btn-dark px-4">
                        Edit
                    </button>
                </form>
                <form action="/listings/<%= listingData.id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn-delete btn-add btn btn-dark px-4">
                        Delete
                    </button>
                </form>
            </div>
        </div>
        <hr class="my-5">
        <div class="card" style="margin-left: 1rem;">
            <h2>Give a review</h2>
            <form action="/listings/<%= listingData.id %>/reviews" method="post" novalidate class="needs-validation">
                <br>
                <div class="form-group">
                    <label for="formControlRange">Rating</label>
                    <br>
                    <input type="range" class="form-control-range" value="1" id="formControlRange" min="1" max="5"
                        name="rating" oninput="this.nextElementSibling.value = this.value" />
                    <output>1</output><span>🌟</span>
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Comment</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"
                        required></textarea>
                    <div class="invalid-feedback">
                        Enter review comment.
                    </div>
                </div>
                <br>
                <button type="submit" class="btn-add btn-dark btn px-4">
                    Submit
                </button>
            </form>
        </div>
        <hr class="my-5">
        <!-- <div class="container mt-5">
            <h2>Comments</h2>
            <ul class="list-group">
                <li class="list-group-item">This is the first comment.</li>
                <li class="list-group-item">This is the second comment.</li>
                <li class="list-group-item">This is the third comment.</li>
            </ul>
        </div> -->
        <div class="container mt-5">
            <h2>All Reviews</h2>
            <ul class="list-group" style="margin-bottom: 4rem;">
                <% listingData.reviews.forEach(review=> { %>
                    <li class="list-group-item py-4">
                        <div class="media">
                            <div class="d-flex gap-2">
                                <img src="https://i.postimg.cc/L8bgvrkg/360-F-97000908-ww-H2go-Iihwr-Moe-V9-QF3-BW6-Htps-VFa-NVM.jpg"
                                    class="mr-3" alt="unknown's photo" style="width: 32px; height: 32px;">
                                <h5 class="mt-0" style="line-height: 32px;">unknown</h5>
                                <p style="line-height: 32px;">
                                    <%= review.rating %> 🌟
                                </p>
                            </div>
                            <div class="media-body mx-2">
                                <p style="margin: auto;">
                                    <%= review.comment %>
                                </p>
                            </div>
                        </div>
                        <br>
                        <form action="/listings/<%= listingData.id %>/reviews/<%= review.id %>?_method=DELETE" method="post"
                            class="mx-2" style="cursor: pointer;">
                            <button style="all: unset;" type="submit">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M19.5 5.5L18.8803 15.5251C18.7219 18.0864 18.6428 19.3671 18.0008 20.2879C17.6833 20.7431 17.2747 21.1273 16.8007 21.416C15.8421 22 14.559 22 11.9927 22C9.42312 22 8.1383 22 7.17905 21.4149C6.7048 21.1257 6.296 20.7408 5.97868 20.2848C5.33688 19.3626 5.25945 18.0801 5.10461 15.5152L4.5 5.5"
                                        stroke="#141B34" stroke-width="1.5" stroke-linecap="round" />
                                    <path d="M21 5.5H3" stroke="#141B34" stroke-width="1.5" stroke-linecap="round" />
                                    <path
                                        d="M16.0575 5.5L15.3748 4.09173C14.9213 3.15626 14.6946 2.68852 14.3035 2.39681C14.2167 2.3321 14.1249 2.27454 14.0288 2.2247C13.5957 2 13.0759 2 12.0363 2C10.9706 2 10.4377 2 9.99745 2.23412C9.89986 2.28601 9.80675 2.3459 9.71906 2.41317C9.3234 2.7167 9.10239 3.20155 8.66037 4.17126L8.05469 5.5"
                                        stroke="#141B34" stroke-width="1.5" stroke-linecap="round" />
                                    <path d="M9.5 16.5L9.5 10.5" stroke="#141B34" stroke-width="1.5"
                                        stroke-linecap="round" />
                                    <path d="M14.5 16.5L14.5 10.5" stroke="#141B34" stroke-width="1.5"
                                        stroke-linecap="round" />
                                </svg>
                            </button>
                        </form>
                    </li>
                    <% }) %>
            </ul>
        </div>
    </body>